:root {
    --primary-gold: #D4AF37;
    --primary-dark: #2C2C2C;
    --sidebar-bg: #f8f9fa;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
}

.container {
    border: 1px solid var(--line-clr);
    border-radius: 1em;
    margin-bottom: 20px;
    padding: min(3em, 15%);
}

@media (max-width: 800px) {
    .container {
        border: none;
        padding: 0;
    }
}