:root {
    --primary-gold: #D4AF37;
    --primary-dark: #2C2C2C;
    --sidebar-bg: #f8f9fa;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
}

i {
    color: #3b3b3b8e;
}

.main-content-bg {
    padding: 2rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/assets/bg.png');
        background-size: cover;
        background-position: center;
        filter: brightness(0.4) saturate(1.2);
        z-index: -1;
    }
}

#header p {
    color: white;
}

#body {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.main-content-bg #header i {
    color: white;
    font-size: 2rem;
}

#eventCardStatus {
    background-color: rgb(239, 217, 156);
    border-radius: 20px;
}

#eventCardStatus .card-body {
    background-color: #FFF7E0;
}

#cardContainer .card-body #cancelButton,
#cardContainer .card-body #addButton {
    border-radius: 20px;
}

@media (max-width: 800px) {
    body {
        padding-top: 60px;
    }
}