:root {
    --primary-gold: #D4AF37;
    --primary-dark: #2C2C2C;
    --sidebar-bg: #f8f9fa;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    display: grid;
    grid-template-columns: auto 1fr;
}

i {
    color: #3b3b3b8e;
}

.main-content-bg {
    padding: 2rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/assets/bg.png');
        background-size: cover;
        background-position: center;
        filter: brightness(0.4) saturate(1.2);
        z-index: -1;
    }
}

#header p {
    color: white;
}

#body {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

#body .table-container {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5px 0;
    width: 100%;
}

#body .table-responsive {
    width: 100%;
}


#body th {
    background: #EFD99C;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
}

#body td {
    vertical-align: middle;
}

.table th,
.table td {
    font-size: 18px;
    /* smaller than default (1rem) */
}

/* Optionally make header text a bit bolder but still small */
.table th {
    font-weight: 600;
}

@media (max-width: 800px) {
    body {
        padding-top: 60px;
    }
}
