:root {
    --primary-gold: #D4AF37;
    --primary-dark: #2C2C2C;
    --sidebar-bg: #f8f9fa;
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 300px;
    padding: 2px 0.5em;
    background-color: var(--sidebar-bg);

    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
    z-index: 1000;

    display: flex;
    flex-direction: column;
}

#sidebar>ul {
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#sidebar .user-info {
    margin-top: auto;
    margin-bottom: 16px;
}

.sidebar-logo {
    object-fit: contain;
    max-width: 100%;
}

#sidebar .navbar-brand:hover {
    background-color: #f8f9fa00;
    transition: transform 0.2s ease;
}

#sidebar .navbar-brand:active {
    background-color: #f8f9fa00;
    transform: scale(0.95);
}

#sidebar.close {
    padding: 5px;
    width: 60px;
}

#sidebar.close .navbar-brand img.sidebar-logo {
    width: 50px;
    height: 50px;
}

#sidebar.close ul li span {
    display: none;
}

#sidebar ul {
    list-style: none;
    padding-left: 0;
}

#sidebar>ul>li:last-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

    .logo {
        font-weight: 600;
    }
}

#sidebar ul li.active a {
    color: var(--primary-gold);

    svg {
        fill: var(--primary-gold);
    }
}

#sidebar a,
#sidebar .dropdown-btn,
#sidebar .logo {
    border-radius: .5em;
    padding: .5em;
    text-decoration: none;
    color: var(--primary-dark);
    display: flex;
    align-items: center;
    gap: 1em;
}

.dropdown-btn {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

#sidebar svg {
    flex-shrink: 0;
    fill: var(--primary-dark);
}

#sidebar a span,
#sidebar .dropdown-btn span {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#sidebar a:hover,
#sidebar .dropdown-btn:hover {
    background-color: #999c6338;
}

#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;

    >div {
        overflow: hidden;
    }
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

.dropdown-btn svg {
    transition: 200ms ease;
}

.rotate svg:last-child {
    rotate: 180deg;
}

#sidebar .sub-menu a {
    padding-left: 2em;
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;

    svg {
        transition: rotate 150ms ease;
    }
}

#toggle-btn:hover {
    background-color: #999c6338;
}

@media(max-width: 800px) {
    body {
        grid-template-columns: 1fr;
    }

    #sidebar #sidebar-header {
        display: none;
    }

    .user-info {
        display: none !important;
    }

    #sidebar {
        height: 60px;
        width: 100%;
        border-right: none;
        padding: 0;
        position: fixed;
        top: 0;
        bottom: unset;

        >ul {
            padding: 0;
            display: grid;
            grid-auto-columns: 60px;
            grid-auto-flow: column;
            align-items: center;
            overflow: hidden;
        }

        ul li {
            height: 100%;
        }

        ul a,
        ul .dropdown-btn {
            width: 60px;
            height: 60px;
            padding: 0;
            border-radius: 0;
            justify-content: center;
        }

        ul li span,
        .dropdown-btn svg:last-child {
            display: none;
        }

        ul li .sub-menu.show {
            position: fixed;
            top: 60px;
            left: 0;
            box-sizing: border-box;
            height: 60px;
            width: 100%;
            background-color: var(--primary-gold);
            display: flex;
            justify-content: center;

            >div {
                overflow-x: auto;
                margin-right: 0 !important;
                padding-left: 0 !important;
            }

            li {
                display: inline-flex;
                margin-left: 20px;
                margin-right: 20px;
            }

            a {
                color: var(--primary-dark);
                width: auto;
                justify-content: center;
                font-weight: 600;
            }

            a:hover,
            a:active {
                background-color: #6c757d46;
                border-radius: 10px;
            }
        }
    }
}

.user-info strong {
    display: block;
    font-size: 14px;
}

.user-info small {
    font-size: 12px;
    opacity: 0.8;
}

.more-btn {
    color: var(--primary-dark);
    font-size: 18px;
    text-decoration: none;
    transition: transform 0.2s ease;
}

.more-btn:hover {
    color: #353535;
    background-color: #6c757d46;
    border-radius: 10px;
}

.more-btn:active {
    color: #353535;
    background-color: #6c757d46;
    border-radius: 10px;
    transform: scale(0.95);
}

#sidebar.close .user-info .container {
    display: none;
}

#sidebar .dropdown-btn i.active-icon {
    color: var(--primary-gold) !important;
}

#sidebar .dropdown-btn i {
    transition: color 0.2s ease;
}