@import "../../styles.scss";

.card-no-hover {
  transition: none !important;

  &:hover {
    transform: none !important;
    box-shadow: inherit !important;
    cursor: default !important;
  }
}

@media (max-width: 800px) {
  .container {
    border: none;
    padding: 0;
  }

  body {
    padding-top: 60px;
  }

  .main-content {
    margin-top: 0;
  }
}